.jumbotron{
	background: url("../media/background.jpg") ;
	background-repeat: no-repeat;
	height: 300px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	background-size: cover;
	text-align: center;
}
.title{
 /*roboto https://www.google.com/fonts/#QuickUsePlace:quickUse font*/
 margin-top: -13px;
}
/* http://paletton.com/#uid=13g0u0kpMicfPs0lam-uPd5FJ82 green one */   

/* Palette URL: http://paletton.com/#uid=1000u0kpMicfPs0lam-uPd5FJ82 */
.color-primary-0 { color: #911C1C }	/* Main Primary color */
.color-primary-1 { color: #DF7171 }
.color-primary-2 { color: #B43D3D }
.color-primary-3 { color: #680404 }
.color-primary-4 { color: #400000 }

.color-background-0 { background-color: #115954 }	/* Main Primary color */
.color-background-1 { background-color: #458984 }
.color-background-2 { background-color: #256F69 }
.color-background-3 { background-color: #02403C }
.color-background-4 { background-color: #002724 }